@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

$main: #000;
$white: #fff;
$blue: #0d6efd;
$text: #848584;
$transition: all 0.3s ease-in-out;

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: $main;
}

::-webkit-scrollbar-thumb {
  background: $text;
  border-radius: 30px;
}

button,
input,
select,
textarea {
  @include clearInput();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
button {
  text-decoration: none;
  transition: $transition;
  color: $main;
}

input[type="number"] {
  &::-webkit-outer-spin-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  appearance: textfield;
  -moz-appearance: textfield;
}

.row {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}

input[type="email"] {
  direction: ltr !important;
}

.animated_img {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 215%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
  }
  &:hover::after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
  }
}
