.portfolio {
  min-height: 100vh;
  .header {
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    h6 {
      color: $white;
      width: fit-content;
      font-size: 14px;
      border: 1px solid #ffffff1a;
      background: #ffffff1a;
      padding: 8px 24px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      gap: 4px;
      img {
        height: 20px;
      }
    }
    h1 {
      color: $white;
      font-size: 62px;
      text-align: center;
    }
  }
}
