@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background: #848584;
  border-radius: 30px;
}

button,
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
button {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #000;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.row {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}

input[type=email] {
  direction: ltr !important;
}

body {
  font-family: "Outfit", sans-serif;
  direction: ltr;
  background: #000;
  position: relative;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 32px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
body header.blured {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body header nav {
  display: flex;
  align-items: center;
}
body header nav .logo {
  flex: 1;
}
body header nav .logo img {
  height: 20px;
}
body header nav .nav_links {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 0 32px;
}
@media screen and (max-width: 992px) {
  body header nav .nav_links {
    display: none;
  }
}
body header nav .nav_links a {
  color: #848584;
}
body header nav .nav_links a.active, body header nav .nav_links a:hover {
  color: #fff;
}
body header nav .others {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
body header nav .others button, body header nav .others a {
  color: #fff;
}
body header nav .others button:last-child, body header nav .others a:last-child {
  display: none;
}
@media screen and (max-width: 992px) {
  body header nav .others button:last-child, body header nav .others a:last-child {
    display: block;
  }
}
body .hero_section {
  width: 100%;
  height: 100vh;
  padding-top: 90px;
}
body .hero_section .content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}
body .hero_section .content h6 {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 10px 28px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
}
body .hero_section .content h6 img {
  height: 20px;
}
body .hero_section .content h1 {
  color: #fff;
  font-size: 62px;
}
body .hero_section .content h1 span {
  background-image: -webkit-linear-gradient(171deg, rgb(37, 0, 93) 0%, rgb(102, 0, 255) 61%, rgb(255, 184, 91) 100%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: 6s infinite alternate gradientAnimation;
}
@media screen and (max-width: 576px) {
  body .hero_section .content h1 {
    font-size: 32px;
  }
}
body .hero_section .content p {
  color: #848584;
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  body .hero_section .content p {
    font-size: 14px;
  }
}
body .hero_section .content .buttons {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 576px) {
  body .hero_section .content .buttons {
    gap: 16px;
  }
}
body .hero_section .content .buttons a {
  color: #fff;
  background-image: linear-gradient(150deg, rgb(37, 0, 93) 0%, rgb(102, 0, 255) 61%, rgb(255, 184, 91) 100%);
  padding: 12px 32px;
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
}
body .hero_section .content .buttons a:last-child {
  background: #fff;
  color: #0d6efd;
}
@media screen and (max-width: 576px) {
  body .hero_section .content .buttons a {
    padding: 10px 28px;
    font-size: 14px;
  }
}
body canvas {
  width: 100% !important;
  height: 100% !important;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body.ar {
  direction: rtl;
}/*# sourceMappingURL=main.css.map */