@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background: #848584;
  border-radius: 30px;
}

button,
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
button {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #000;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.row {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}

input[type=email] {
  direction: ltr !important;
}

.animated_img {
  position: relative;
}
.animated_img::after {
  content: "";
  position: absolute;
  width: 215%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}
.animated_img:hover::after {
  height: 250%;
  transition: all 600ms linear;
  background-color: transparent;
}

body {
  font-family: "Outfit", sans-serif;
  direction: ltr;
  background: #000;
  position: relative;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 32px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
body header.blured {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body header nav {
  display: flex;
  align-items: center;
}
body header nav .logo {
  flex: 1;
}
body header nav .logo img {
  height: 20px;
}
body header nav .nav_links {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 0 32px;
}
body header nav .nav_links .head {
  display: none;
}
@media screen and (max-width: 992px) {
  body header nav .nav_links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background: #000;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
  }
  body header nav .nav_links .head {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body header nav .nav_links .logo {
    flex: unset;
  }
  body header nav .nav_links .close {
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body header nav .nav_links .nav_link {
    font-size: 22px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  body header nav .nav_links .nav_link:nth-child(1) {
    --i: 1;
  }
  body header nav .nav_links .nav_link:nth-child(2) {
    --i: 2;
  }
  body header nav .nav_links .nav_link:nth-child(3) {
    --i: 3;
  }
  body header nav .nav_links .nav_link:nth-child(4) {
    --i: 4;
  }
  body header nav .nav_links .nav_link:nth-child(5) {
    --i: 5;
  }
  body header nav .nav_links .nav_link:nth-child(6) {
    --i: 6;
  }
  body header nav .nav_links .nav_link:nth-child(7) {
    --i: 7;
  }
  body header nav .nav_links .nav_link:nth-child(8) {
    --i: 8;
  }
  body header nav .nav_links .nav_link:nth-child(9) {
    --i: 9;
  }
  body header nav .nav_links .nav_link:nth-child(10) {
    --i: 10;
  }
  body header nav .nav_links.active {
    left: 0;
    opacity: 1;
  }
  body header nav .nav_links.active .nav_link {
    animation: fadeIn 0.5s forwards;
    animation-delay: calc(0.3s + var(--i) * 0.05s);
  }
  body header nav .nav_links.closing .nav_link {
    animation: fadeOut 0.3s forwards;
  }
}
body header nav .nav_links a {
  color: #848584;
}
body header nav .nav_links a.active, body header nav .nav_links a:hover {
  color: #fff;
}
body header nav .others {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
body header nav .others button,
body header nav .others a {
  color: #fff;
}
body header nav .others button:last-child,
body header nav .others a:last-child {
  display: none;
}
@media screen and (max-width: 992px) {
  body header nav .others button:last-child,
  body header nav .others a:last-child {
    display: block;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
body footer {
  padding: 24px 0;
}
body footer .content {
  gap: 32px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  body footer .content {
    flex-direction: column;
  }
}
body footer .content img {
  height: 28px;
}
body footer .content .links {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (max-width: 576px) {
  body footer .content .links {
    gap: 16px;
  }
}
body footer .content .links a {
  color: #848584;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
body footer .content .links a:hover {
  color: #fff;
}
body footer .copyRights {
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 576px) {
  body footer .copyRights {
    flex-direction: column-reverse;
  }
}
body footer .copyRights p {
  font-size: 14px;
  margin: 0;
  color: #848584;
}
body footer .copyRights .social {
  display: flex;
  gap: 24px;
}
body footer .copyRights .social a {
  color: #848584;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
body footer .copyRights .social a:hover {
  color: #fff;
}
body .skills_swiper {
  margin: 0 0 40px;
  background: rgba(255, 255, 255, 0.0509803922);
  padding: 12px 0;
}
body .skills_swiper .swiper-wrapper {
  transition-timing-function: linear;
}
body .skills_swiper .swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
body .skills_swiper .swiper-slide .skill {
  color: #fff;
  white-space: nowrap;
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 32px;
}
body .skills_swiper .swiper-slide .skill::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 576px) {
  body .skills_swiper .swiper-slide .skill {
    font-size: 28px;
  }
  body .skills_swiper .swiper-slide .skill::after {
    width: 8px;
    height: 8px;
  }
}
body .service_box {
  width: 100%;
  padding: 32px;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
}
body .service_box .head {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
}
body .service_box .head span {
  display: block;
}
body .service_box .head span img {
  margin-top: 12px;
  height: 24px;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}
body .service_box .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 85, 255, 0.35) 2px 4px 24px 0px;
  border: 2px solid #0d6efd;
}
body .service_box .icon img {
  width: 36px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(0px 4px 4px rgba(13, 109, 253, 0.3490196078));
}
body .service_box .title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}
body .service_box .subtitle {
  font-size: 16px;
  color: #848584;
  font-weight: 400;
  margin-bottom: 24px;
}
body .service_box .description {
  font-size: 16px;
  color: #848584;
  margin: 0;
}
body .service_box:hover {
  background: linear-gradient(0.0738312857deg, rgba(0, 85, 255, 0.15) 0%, rgba(97, 97, 97, 0.09) 100%);
}
body .service_box:hover .head span img {
  transform: rotate(45deg);
  opacity: 1;
}
body .project_box {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
}
body .project_box .img {
  width: 100%;
}
body .project_box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
body .project_box .content {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
}
body .project_box .content h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}
body .project_box .content p {
  font-size: 14px;
  color: #848584;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body .project_box .content .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 0 0;
}
body .project_box .content .tags span {
  font-size: 12px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 6px 12px;
  border-radius: 40px;
}
body .hero_section {
  width: 100%;
  height: 100vh;
  padding-top: 88px;
}
body .hero_section .content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}
body .hero_section .content h6 {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 8px 24px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
}
body .hero_section .content h6 img {
  height: 20px;
}
body .hero_section .content h1 {
  color: #fff;
  font-size: 62px;
}
@media screen and (max-width: 576px) {
  body .hero_section .content h1 {
    font-size: 36px;
  }
}
body .hero_section .content p {
  color: #848584;
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  body .hero_section .content p {
    font-size: 16px;
  }
}
body .hero_section .content .buttons {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 576px) {
  body .hero_section .content .buttons {
    gap: 16px;
  }
}
body .hero_section .content .buttons a {
  color: #fff;
  padding: 12px 32px;
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  color: #0d6efd;
}
body .hero_section .content .buttons a:last-child {
  background: #0d6efd;
  color: #fff;
}
@media screen and (max-width: 576px) {
  body .hero_section .content .buttons a {
    padding: 10px 28px;
    font-size: 14px;
  }
}
body .statistics_section {
  padding: 80px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
body .statistics_section h2 {
  text-align: center;
  font-size: 42px;
  color: #fff;
  margin-bottom: 16px;
}
body .statistics_section p {
  text-align: center;
  font-size: 16px;
  color: #848584;
  margin-bottom: 48px;
}
body .statistics_section .thumb {
  text-align: center;
  padding: 8px 24px;
  background: rgba(255, 255, 255, 0.1019607843);
  color: #fff;
  margin: 0 auto 16px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 40px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}
body .statistics_section .thumb::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
body .statistics_section .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
body .statistics_section .boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
}
body .statistics_section .boxes .box h4 {
  font-size: 32px;
  color: #0d6efd;
}
body .statistics_section .boxes .box h6 {
  font-size: 16px;
  color: #fff;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body .about_section {
  padding: 80px 0;
}
body .about_section .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .about_section .content h2 {
  font-size: 48px;
  color: #fff;
}
@media screen and (max-width: 576px) {
  body .about_section .content h2 {
    font-size: 44px;
  }
}
body .about_section .content p {
  font-size: 16px;
  color: #848584;
  padding-inline-end: 32px;
}
@media screen and (max-width: 576px) {
  body .about_section .content p {
    padding-inline-end: 0;
  }
}
body .about_section .content ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #848584;
}
body .about_section .content ul img {
  height: 18px;
}
body .about_section .content a {
  margin: 12px 0;
  padding: 12px 32px;
  border-radius: 60px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  background: #fff;
  color: #0d6efd;
}
@media screen and (max-width: 576px) {
  body .about_section .content a {
    padding: 10px 28px;
    font-size: 14px;
  }
}
body .about_section .img {
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
}
body .about_section .img img {
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}
body .highlight {
  background-image: -webkit-linear-gradient(171deg, rgb(37, 0, 93) 0%, rgb(102, 0, 255) 61%, rgb(255, 184, 91) 100%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: 6s infinite alternate gradientAnimation;
}
body .services_section {
  padding: 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
body .services_section h6 {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 8px 24px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 4px;
}
body .services_section h6 img {
  height: 20px;
}
body .services_section h2 {
  margin-top: 16px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin-bottom: 16px;
}
body .top_projects_section {
  padding: 60px 0;
}
body .top_projects_section h6 {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 8px 24px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 4px;
}
body .top_projects_section h6 img {
  height: 20px;
}
body .top_projects_section h2 {
  margin-top: 16px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin-bottom: 16px;
}
@media screen and (max-width: 576px) {
  body .top_projects_section h2 {
    font-size: 32px;
  }
}
body .how_team_works {
  padding: 60px 0;
  position: relative;
}
body .how_team_works .img {
  width: 100%;
  padding: 12px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  position: sticky;
  top: 120px;
}
body .how_team_works .img img {
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}
body .how_team_works .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .how_team_works .content h6 {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 8px 24px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
}
body .how_team_works .content h6 img {
  height: 20px;
}
body .how_team_works .content h2 {
  margin-top: 8px;
  font-size: 48px;
  color: #fff;
  margin-bottom: 16px;
}
@media screen and (max-width: 576px) {
  body .how_team_works .content h2 {
    font-size: 32px;
  }
}
body .how_team_works .content p {
  font-size: 16px;
  color: #848584;
  padding-inline-end: 32px;
}
@media screen and (max-width: 576px) {
  body .how_team_works .content p {
    padding-inline-end: 0;
  }
}
body .how_team_works .content .steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
body .how_team_works .content .steps .step {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .how_team_works .content .steps .step .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .how_team_works .content .steps .step .head .icon {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 85, 255, 0.15);
  box-shadow: rgba(0, 85, 255, 0.25) 0px 5px 25px 0px, rgba(255, 255, 255, 0.08) 0px 10px 10px -1px inset;
}
body .how_team_works .content .steps .step .head .icon img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
body .how_team_works .content .steps .step .head span {
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
}
body .how_team_works .content .steps .step h4 {
  font-size: 20px;
  margin: 12px 0 0;
  color: #fff;
}
body .how_team_works .content .steps .step p {
  margin: 0;
}
body .portfolio {
  min-height: 100vh;
  padding-bottom: 80px;
}
body .portfolio .header {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
body .portfolio .header h1 {
  color: #fff;
  font-size: 32px;
  text-align: center;
}
body .portfolio .header p {
  color: #848584;
  font-size: 16px;
  text-align: center;
  max-width: 400px;
}
body .portfolio .header a {
  padding: 12px 32px;
  border-radius: 60px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  background: #fff;
  color: #0d6efd;
}
@media screen and (max-width: 576px) {
  body .portfolio .header a {
    padding: 10px 28px;
    font-size: 14px;
  }
}
body .portfolio .filter {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin: 32px 0;
}
body .portfolio .filter button {
  padding: 8px 32px;
  border-radius: 60px;
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: rgba(255, 255, 255, 0.1019607843);
  transition: all 0.3s ease-in-out;
}
body .portfolio .filter button:hover, body .portfolio .filter button.active {
  background: #fff;
  color: #0d6efd;
}
@media screen and (max-width: 576px) {
  body .portfolio .filter {
    gap: 12px;
  }
}
body .join_us {
  padding: 80px 0;
  overflow: hidden;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  isolation: isolate;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
}
body .join_us video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body .join_us h2 {
  color: #fff;
  font-size: 54px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  body .join_us h2 {
    font-size: 36px;
  }
}
body .join_us p {
  color: #848584;
  font-size: 16px;
  text-align: center;
}
body .join_us a {
  padding: 12px 32px;
  border-radius: 60px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  color: #0d6efd;
}
@media screen and (max-width: 576px) {
  body .join_us a {
    padding: 10px 28px;
    font-size: 14px;
  }
}
body main {
  min-height: calc(100vh - 380px);
}
body .contact_section {
  padding: 20vh 0 80px;
}
body .contact_section h1 {
  text-align: center;
  font-size: 64px;
  color: #fff;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  body .contact_section h1 {
    font-size: 36px;
  }
}
body .contact_section .contact_info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
body .contact_section .contact_info .box {
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 16px;
  padding: 32px 24px;
}
body .contact_section .contact_info .box h6 {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
body .contact_section .contact_info .box a,
body .contact_section .contact_info .box p {
  color: #848584;
  transition: all 0.3s ease-in-out;
  display: block;
  margin-bottom: 12px;
}
body .contact_section .contact_info .box a:last-child,
body .contact_section .contact_info .box p:last-child {
  margin-bottom: 0;
}
body .contact_section .contact_info .box a:hover,
body .contact_section .contact_info .box p:hover {
  color: #fff;
}
body .contact_section form {
  padding: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body .contact_section form .form_group {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 576px) {
  body .contact_section form .form_group {
    flex-direction: column;
  }
}
body .contact_section form .input_field {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}
body .contact_section form .input_field label {
  color: #fff;
}
body .contact_section form .input_field input,
body .contact_section form .input_field select,
body .contact_section form .input_field textarea {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  background: #000;
  color: #fff;
}
body .contact_section form .input_field input option,
body .contact_section form .input_field select option,
body .contact_section form .input_field textarea option {
  color: #fff;
}
body .contact_section form button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 0;
  border-radius: 12px;
  width: 100%;
  background: #fff;
  color: #000;
  transition: 0.3s ease-in-out;
  margin-top: 12px;
}
body .contact_section form button:hover {
  background: #0d6efd;
  color: #fff;
}
body .not_found_section {
  height: 100dvh;
}
body .not_found_section .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
body .not_found_section .container h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 576px) {
  body .not_found_section .container h1 {
    font-size: 42px;
  }
}
body .not_found_section .container p {
  text-align: center;
  font-size: 16px;
  color: #848584;
  margin: 0;
}
body .not_found_section .container a {
  padding: 12px 32px;
  border-radius: 120px;
  background: #0d6efd;
  color: #fff;
  transition: 0.3s ease-in-out;
  margin-top: 12px;
}
body .not_found_section .container a:hover {
  background: #fff;
  color: #000;
}
body .service_details {
  padding: 20vh 0 60px;
}
body.ar {
  direction: rtl;
}/*# sourceMappingURL=main.css.map */