@import "./config";

body {
  font-family: "Outfit", sans-serif;
  direction: ltr;
  background: $main;
  position: relative;

  @import "./layout";
  @import "./home";
  @import "./portfolio";

  &.ar {
    direction: rtl;
  }
}
