@import "./config";

body {
  font-family: "Outfit", sans-serif;
  direction: ltr;
  background: $main;
  position: relative;

  @import "./layout";
  @import "./home";
  @import "./portfolio";

  main {
    min-height: calc(100vh - 380px);
  }

  .contact_section {
    padding: 20vh 0 80px;
    h1 {
      text-align: center;
      font-size: 64px;
      color: $white;
      font-weight: 400;
      @media screen and (max-width: 576px) {
        font-size: 36px;
      }
    }

    .contact_info {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .box {
        border: 1px solid #ffffff1a;
        border-radius: 16px;
        padding: 32px 24px;
        h6 {
          display: flex;
          align-items: center;
          gap: 12px;
          color: $white;
          font-size: 20px;
          border-bottom: 1px solid #ffffff1a;
          padding-bottom: 16px;
          margin-bottom: 16px;
        }
        a,
        p {
          color: $text;
          transition: $transition;
          display: block;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            color: $white;
          }
        }
      }
    }

    form {
      padding: 32px;
      border: 1px solid #ffffff1a;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .form_group {
        display: flex;
        align-items: center;
        gap: 24px;
        @media screen and (max-width: 576px) {
          flex-direction: column;
        }
      }
      .input_field {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 8px;
        label {
          color: $white;
        }
        input,
        select,
        textarea {
          padding: 16px;
          border-radius: 12px;
          border: 1px solid #ffffff1a;
          background: $main;
          color: $white;
          option {
            color: $white;
          }
        }
      }
      button {
        width: fit-content;
        padding: 16px 0;
        border-radius: 12px;
        width: 100%;
        background: $white;
        color: $main;
        transition: 0.3s ease-in-out;
        margin-top: 12px;
        &:hover {
          background: $blue;
          color: $white;
        }
      }
    }
  }

  .not_found_section {
    height: 100dvh;
    .container {
      height: 100%;
      @include centerFlex();
      flex-direction: column;
      gap: 16px;
      h1 {
        text-align: center;
        font-size: 64px;
        font-weight: 400;
        color: $white;
        @media screen and (max-width: 576px) {
          font-size: 42px;
        }
      }
      p {
        text-align: center;
        font-size: 16px;
        color: $text;
        margin: 0;
      }
      a {
        padding: 12px 32px;
        border-radius: 120px;
        background: $blue;
        color: $white;
        transition: 0.3s ease-in-out;
        margin-top: 12px;
        &:hover {
          background: $white;
          color: $main;
        }
      }
    }
  }

  .service_details{
    padding: 20vh 0 60px;
  }

  &.ar {
    direction: rtl;
  }
}
